<div id="signin-div" class="navbar" >
  <ul id="sign-in-btn" class="nav navbar-nav navbar-right pull-right">
    <% if user_signed_in? %>
      <li><%= link_to current_user.username, "/users/edit" %></li>
      <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "sign in", new_user_session_path %></li>
    <% end %>
  </ul>
</div>

<div id="page-top" class="row">

  <div class="col-lg-2 title">
    <div class="row">
      <div class="logo col-lg-offset-2 col-lg-8 "></div> 
      <span class="title">
        <h1>TINYPLANET</h1>
      </span>
    </div> 
  </div>

  <div class='col-xs-3 pull-right'>
    <p>I'm listening to the...</p>
    <input name='genre' id='genre' class="form-control" placeholder='scene'></input>
    <br>
    <p>Scene in...</p>
    <input name='city' class='form-control' id='city' placeholder='city'></input>
  </div>

</div>

<div class="row">

  <div id="player" class="col-lg-6 col-lg-offset-3">

    <div id="album-cover" class="col-lg-2">
      <div id="cover-image" style="background:url(http://placekitten.com/200/300);">
        <i id="player-heart" class="fa fa-heart-o icon" style="position: absolute; z-index: 1;" ></i>
        <i id="play-btn" class="fa fa-play icon"></i>
        <i id="skip-btn" class="fa fa-skip icon"></i>
      </div>
    </div>

    <div class="album-descriptors">
      <h4 id="title">"Clips"</h4>
      <h4 id="artist">Ava Luna</h4>
      <h5 id="album">Third Avenue Island</h5>
      <i id="current-rocket" class="fa fa-rocket icon"></i>
      <i id="current-heart" class="fa fa-heart-o icon"></i>
    </div>

    <img class="ticker" src="https://raw.github.com/indabaui/player/master/screenshots/soundcloud.png" alt="Share">

  </div>

</div>


<footer class="row">
  
  <div id="last-played-div" class="col-xs-6 col-lg-4">
    <h4 class="double-bottom-border">you last played:</h4> 
    <div id="last-played-content" class="row">
      <div class="col-lg-6">  
        <h5 id="last-played-song-title" class="no-margin-top">"She Sleeps Alone"</h5> 
        <h5 id="last-played-artist-name">MiniBoone</h5>
      </div>
      <div class="col-xs-4 col-lg-6">
        <i id="last-played-heart" class="fa fa-heart-o icon"></i>        
        <i id="last-played-rocket" class="icon fa fa-rocket "></i>
      </div>
    </div>
  </div>

</footer>
