

<div class="inner cover">
 <% unless user_signed_in? %>
  <h1 class="cover-heading">Make a Scene.</h1>
    <p class="lead">ever wonder about what music you might be missing out on? with tinyplanet.fm, you can search, like, and find local artists playing the music you want to here. </p>
    <p class="lead">
    <a href="#" class="btn btn-lg btn-default">Get Started</a>
    </p>
  </div>
    <% else %>
  <div class="make-scene">
        <p>I'm listening to the...</p>
        <input name='genre' id='genre' class="form-control" placeholder='scene'></input>
        <br>
        <p>in...</p>
      <input name='city' class='form-control' id='city' placeholder='city'></input>
</div>
    


<div id="player" class="col-xs-8 col-xs-offset-2">
  <div id="album art">
    I AM ART
  </div>

  <div id="song-info">
    I AM SONG NAME
  </div>

<div id="controls">
<i class="fa fa-play glyphicon-large" id="play"></i>
<i class="fa fa-pause glyphicon-large" id="pause"></i>
<i class="fa fa-ban glyphicon-large" id="next"></i>
<i class="fa fa-heart glyphicon-large" id="heart"></i>
<i class="fa fa-heart-o glyphicon-large" id="openheart"> </i>
<i class="fa fa-rocket glyphicon-large" id="share"></i>
</div>
  <div id="share-like">
  <span id="favorite" class></span>
  </div>

 <footer class="row">
  <div id="just-played" class="col-lg-4 col-xs-6">
    <h4 class="double-bottom-border">You last played:</h4> 
    <div id="last-played-content" class="row">
      <div class="col-lg-6">  
        <h5 class="no-margin-top">"She Sleeps Alone"</h5> 
        <h5>MiniBoone</h5>
      </div>
      <div class="col-xs-4 col-lg-6 pull-left">
        <i class="fa fa-heart"></i>
<i class="fa fa-rocket"></i>
      </div>
    </div>
  </div>
</footer>
<% end %>