<div id="signin-div" class="navbar" >
  <ul id="sign-in-btn" class="nav navbar-nav navbar-right pull-right">
    <% if user_signed_in? %>
      <li><%= link_to current_user.username, "/users/edit" %></li>
      <li><%= link_to "sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "sign in", new_user_session_path %></li>
    <% end %>
  </ul>
</div>

  <div id="page-top" class="row">

    <div class="col-lg-2 title">
      <div class="row">
        <div class="logo col-lg-offset-2 col-lg-8 "></div> 
        <span class="title">
          <h1>TINYPLANET</h1>
        </span>
      </div> 
    </div>

    <div class='col-xs-3 pull-right'>

      <p>I'm listening to the...</p>
      <input name='genre' id='genre' class="form-control" placeholder='scene'></input>
      <br>
      <p>Scene in...</p>
      <input name='city' class='form-control' id='city' placeholder='city'></input>
  
    </div>

  </div>

<!-- PRIORTY: MAKE A DIV FOR EVERY "Like" "Dislike" functionality we want to incorporate -->
<div class="row">
  <div id="player" class="col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3 ">
    <img id="alb-cover" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQkyyJO9uRw8OrVSFMI7nMtrmwy32haRyyv_NoQ22pWDHbpNdWV" alt="">
    <h4>"Clips"</h4>
    <h4>Ava Luna</h4>
    <h5>Third Avenue Island</h5>
    <img class="rocket-icon" src="http://www.launchbrigade.com/wp-content/themes/launchbrigade/images/slider/rocket-ship.png" alt="">
    <i class="fa fa-rocket"></i>
    <span id="myspan" class="glyphicon glyphicon-heart-empty"></span>
    <img class="ticker" src="https://raw.github.com/indabaui/player/master/screenshots/soundcloud.png" alt="Share">
  </div>
</div>
<div id="putTheWidgetHere"></div>
 
 

