h1, h2, h3, h4, h5, h6, body, footer, p {
    color: white;
    font-family: Syncopate;
}

body {
  background-color: #243640;
}

h1 {
  letter-spacing: 3px;
  font-size: 3em;
}

p {
  letter-spacing: 1px;
  font-size: 10px;
}

footer {
  height: 150px;
  position: relative;
  bottom: 0;
}

@media screen{
  footer {
    width: 100%;
  }
}

#page-top {
  margin-bottom: 72px;
}

#player {
  color: black;
  height: 200px;
  padding-left:0px;
  margin-bottom: 100px;
}

#cover-image {
  height: 150px;
  width: 150px;
  position: relative; 
  z-index: .2;
}

#current-rocket{
  margin-bottom: 14px;
}

#sign-in-btn{
  margin-right:20px;
}

#alb-cover{
  height:200px;
  width: 200px;
  margin-right: 15px;
  float:left;
}

#stripe1 { 
  border-bottom: 50px solid orange; 
  border-left: 50px solid transparent; 
  position: absolute;
  bottom: 0;
  right: 0;
}

#stripe2 { 
  border-bottom: 100px solid purple; 
  border-left: 100px solid transparent; 
  position: absolute;
  bottom: 0;
  right: 0;
}

#stripe3 { 
  border-bottom: 150px solid blue; 
  border-left: 150px solid transparent; 
  position: absolute;
  bottom: 0;
  right: 0;
}

#last-played-div {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#last-played-content {
  margin-top: 13px;
}


#last-played-rocket {
  margin-left: 25px;
}

#stripes-div {
  position: relative;
}

.icon {
  margin-top: 7px;
  font-size: 25px;
}

.navbar {
  font-family: Syncopate;
  background-color: #243640;
  border-color: #243640;
  color: white;
}

.navbar-inner {
  background-color: #243640;
  color: white;
}

.logo { 
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: 20px;
  background: orange; 
  -moz-border-radius: 70px; 
  -webkit-border-radius: 70px; 
}

.form-inputs {
  display: inline-block;
}

.form-actions {
  display: inline-block;
}

.rocket-icon {
  height: 20px;
  transform:rotate(20deg);
  -ms-transform:rotate(20deg); /* IE 9 */
  -webkit-transform:rotate(20deg); /* Safari and Chrome */
}

.margin-top {
  margin-top: 23px;
}

.no-margin-top {
  margin-top: 0px;
}

.ticker{
  height: 15px;
  width: 185px;
}

.rocket-icon {
  height: 40px;
  margin-bottom: 14px;
  transform:rotate(20deg);
  -ms-transform:rotate(20deg); /* IE 9 */
  -webkit-transform:rotate(20deg); /* Safari and Chrome */
}

.centered {
  margin: 0 auto;
}
