

stylesheet_link_tag "cover"

	<%= render "users/login_modal" %>

	<%= render "users/sign_up_modal" %>

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">tinyplanet.fm</h3>
						<ul class="nav masthead-nav">
							<li class="active"><%= link_to "Login", "#login", "data-toggle" => "modal" %></li>

							<li><%= link_to "Sign up", "#sign_up", "data-toggle" => "modal"%> </li>

						</ul>
					</div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">Make a Scene.</h1>
					<p class="lead">ever wonder about what music you might be missing out on? with tinyplanet.fm, you can search, like, and find local artists playing the music you want to here. </p>
					<p class="lead">
						<a href="#" class="btn btn-lg btn-default">Get Started</a>
					</p>
				</div>
			<!-- 	<div class="make-scene">
					<p>I'm listening to the...</p>
					<input name='genre' id='genre' class="form-control" placeholder='scene'></input>
					<br>
					<p>in...</p>
					<input name='city' class='form-control' id='city' placeholder='city'></input>
				</div>



				<div id="player" class="col-xs-8 col-xs-offset-2">
					<div id="album art">
						I AM ART
					</div>

					<div id="song-info">
						I AM SONG NAME
					</div>

					<div id="controls">
						<i class="fa fa-play glyphicon-large" id="play"></i>
						<i class="fa fa-pause glyphicon-large" id="pause"></i>
						<i class="fa fa-ban glyphicon-large" id="next"></i>
						<i class="fa fa-heart glyphicon-large" id="heart"></i>
						<i class="fa fa-heart-o glyphicon-large" id="openheart"> </i>
						<i class="fa fa-rocket glyphicon-large" id="share"></i>
					</div>
					<div id="share-like">
						<span id="favorite" class></span>
					</div> -->

				</div>
			</div>
		</div>

