<div id="song-info">
   I AM SONG NAME
</div>

<div id="controls">
<i class="fa fa-play glyphicon-large" id="play"></i>
<i class="fa fa-pause glyphicon-large" id="pause"></i>
<i class="fa fa-ban glyphicon-large" id="next"></i>
<i class="fa fa-heart glyphicon-large" id="heart"></i>
<i class="fa fa-heart-o glyphicon-large" id="openheart"> </i>
<i class="fa fa-rocket glyphicon-large" id="share"></i>
</div>
  <div id="share-like">
  <span id="favorite" class></span>
</div>