<footer class="row">
  
  <div id="last-played-div" class="col-xs-6 col-lg-4">
    <h4 class="double-bottom-border">you last played:</h4> 
    <div id="last-played-content" class="row">
      <div class="col-lg-6">  
        <h5 id="last-played-song-title" class="no-margin-top">"She Sleeps Alone"</h5> 
        <h5 id="last-played-artist-name">MiniBoone</h5>
      </div>
      <div class="col-xs-4 col-lg-6">
        <i id="last-played-heart" class="fa fa-heart-o icon"></i>        
        <i id="last-played-rocket" class="icon fa fa-rocket "></i>
      </div>
    </div>
  </div>

</footer>