 <footer class="row">
  <div id="just-played" class="col-lg-4 col-xs-6">
    <h4 class="double-bottom-border">You last played:</h4> 
    <div id="last-played-content" class="row">
      <div class="col-lg-6">  
        <h5 class="no-margin-top">"She Sleeps Alone"</h5> 
        <h5>MiniBoone</h5>
      </div>
      <div class="col-xs-4 col-lg-6 pull-left">
        <span id="last-played-heart" class="glyphicon glyphicon-heart pull-left"></span>
        <img id="last-played-rocket" class="rocket-icon pull-left" src="http://www.launchbrigade.com/wp-content/themes/launchbrigade/images/slider/rocket-ship.png" alt="Share">
      </div>
    </div>
  </div>


</footer>