<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyPlanet.fm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>

  </head>

  <body>
     <script src="//connect.soundcloud.com/sdk.js"></script>

  <div class="container">

      <%= yield %>
    
  </div>

  <footer class="col-xs-12 navbar-fixed-bottom">

    <div id="just-played" class="col-lg-4 col-xs-6">
        <h4 class="double-bottom-border">You last played:</h4> 
      <div class="pull-left">  
        <h5 class="no-margin-top">"She Sleeps Alone"</h5> 
        <h5>MiniBoone</h5>
      </div>
      <div id="you-last-played-icons" class="pull-left col-xs-offset-2 col-xs-4 col-lg-3">
        <span id="last-played-heart" class="glyphicon glyphicon-heart-empty pull-left"></span>
        <img id="last-played-rocket"class="rocket-icon col-xs-offset-2 pull-left" src="http://www.launchbrigade.com/wp-content/themes/launchbrigade/images/slider/rocket-ship.png" alt="">
      </div>
    </div>

    <div id="stripe3"></div>
    <div id="stripe2"></div>
    <div id="stripe1"></div> 
  </footer>

  </body>
</html>

