<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyPlanet.fm</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
  </head>

  <body>

  <div class="logo"></div>

  <div class="title">
      <h1>TINYPLANET</h1>
  </div> 

  <div class="container">

      <%= yield %>
    
  </div>

  <footer class="col-xs-12 navbar-fixed-bottom">
    <div id="stripe3"></div>
    <div id="stripe2"></div>
    <div id="stripe1"></div> 
  </footer>

  </body>
</html>

